<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TICS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
        <!-- [END fcm_default_icon] -->
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TICS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".SignIn"
            android:label="SignIn"
            android:parentActivityName=".Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome" />
        </activity>
        <activity
            android:name=".SignUp"
            android:label="SignUp"
            android:parentActivityName=".Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome" />
        </activity>
        <activity
            android:name=".Success"
            android:label="Success"
            android:parentActivityName=".Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:parentActivityName=".Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:parentActivityName=".Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome" />
        </activity>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>